html, body {
	height: 100% !important;
}

body {
	/*overflow-y: scroll!important;*/
	font-family: "Raleway", Verdana, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.navbar {
	border: none;
	min-height: 100px;
	margin: 0;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}

.b-navbar_content {
	padding: 25px 0;
	border-bottom: 1px solid #4e5167;
}

.banner {
	height: 750px;
}

.b-navbar_links {
	color: #fff;
}

.abs-center {
	margin: 13% 12%;
}

.abs-center h1 {
	font-size: 65px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: "OpenSansBold";
}

.abs-center .b-banner-title{
	display: inline-block;
}

.abs-center .b-banner-description {
	display: inline-block;
	font-size: 22px;
}

.abs-center .b-banner-link {
	padding: 18px 53px;
	background-color: #e84545;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 80px;
}

.about {
	padding: 120px 0;
}

.about .media-object {
	margin: auto;
}

.about h3 {
	color: #2d3033;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin: 25px 0;
}

.about h4 {
	color: #6c7279;
	font-size: 14px;
	line-height: 21px;
}

.b-features-first_block {
	margin-bottom: 75px;
}

.photos {
	text-align: center;
}

.b-photos_block {
	width: 470px;
	height: 350px;
	overflow: hidden;
    display: inline-block;
    margin: -2px -1px;
    position: relative;;
}

.b-photos_block .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(213, 66, 66, 0.75);
}

.b-photos_block .overlay h4 {
	font-weight: 700;
	text-transform: uppercase;
    margin-top: 33%;
}

.b-photos_block:hover .overlay {
	display: block !important;
	top:0;
	left:0;
	border-radius:0;
}

footer {
	padding: 70px 0 85px 0;
	background-color: #3a3e64;
}

footer h4 {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}

footer p {
	line-height: 22.5px;
	color: #9092a7;
}

.copyright {
	background-color: #292c47;
	color: #9092a7;
	line-height: 22.5px;
	padding: 30px 0;
}

.heart {
	color: #EE2412;
}

.creator_name {
	font-family: "OpenSansBold";
	color: #fff;
}